.MemoryHome {
  max-width: 730px;
  margin: 50px auto;
  text-align: center;
  color: #fff;
}

.MemoryHome h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.MemoryHome p {
  font-size: 17px;
}

.MemoryHome a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  background: #000;
  padding: 6px 12px;
  border-radius: 10px;
  transition: .5s all;
}

.MemoryHome a:hover {
  background-color: #ce517b;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px;
  margin-right: 20px;
  transition: .5s all;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.heart{
  font-size: 30px;
  animation-name: fall;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 300px;
}

@keyframes fall {
  0% {
    transform: translateY(-5vh);
  }

  100% {
    transform: translateY(110vh);
  }
}